* {
	box-sizing: border-box;
}

body {
	background-color:rgb(109, 93, 93);
}

.title {

	text-align: center;
	font-size: 2em;
	color: #fff;
}

.board {
	display: flex;
	flex-wrap: wrap;
	width: 70vmin;
	height: 70vmin;
	border: 1px solid black;
	margin: 0 auto;
	background-color: green;
}

.cell {
	width: 25%;
	height: 25%;
	box-sizing: border-box;
	border: 2px solid black;
}

.goblin {
	width: 100%;
	height: 100%;
	background-image: url('/src/img/goblin.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}